body {
  font-family: sans-serif;
}

#grid-container {
  background: cornsilk;
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

#grid-header {
  background: tomato;
  color: white;
  padding: 10px;
  text-align: center;
}
